body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left center;
  color: white;
  text-align: center;
  padding: 10px 7px;
  text-decoration: none;
  font-size: 13px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}

/* Chat containers */
.container {
  border: 2px solid #ffffff;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ffffff;
  background-color: #000000;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #fff;
}

/* Style time text */
.time-left {
  float: left;
  color: #fff;
}